::placeholder {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  
  .Login {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    line-height: 0.8rem;
    margin: 50px auto 100px auto;
    font-family: "Roboto", sans-serif;
  }
  
  .headingLogin {
    font-size: 2.4rem;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
  }
  
  .formGroup {
    margin: 20px 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  .formInput {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
  }
  
  .headInput{
    display: block;
    margin-bottom: 16px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }
  
  .inputData {
    padding: 0 12px;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: 2px solid #6a6a6a;
    margin-bottom: 12px;
  }

  .forgotPassword {
    display: block;
    margin: 12px 6px 0px 0px;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    color: #1dade6;
    font-weight: 500;
  }
  
  .submitLogin {
    height: 60px;
    width: 150px;
    border-radius: 60px;
    background-color: #1dade6;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    margin: 20px 0;
    cursor: pointer;
    border:none;
    text-transform: uppercase;
  }
  
  .submitLogin:hover {
    transform: scale(1.02);
    opacity: 0.8;
  }
  
  .rulesLogin {
    font-size: 12px;
    display: block;
    margin: 20px 12px;
  }
  
  .rulesLoginLink {
    color:#1dade6;
    cursor: pointer;
  }
  
  .hasAccount {
    display: block;
    font-size: 16px;
    font-weight: 500;
  }
  
  .hasAccountLink{
    color:#1dade6;
    margin-left: 2%;
  }

  .login-status {
    color: red;
    margin: 12px 0;
  }